<%- include('layouts/default/Navbar') %>

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true" style="margin-top: 5.1rem">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./img/Tela das notícias.png" class="d-block w-100" />
    </div>
  </div>
</div>

  <!-- Botão de pesquisa
  
  <div class="container">
    <div class="mt-5 mb-5">
      <h1>O que você está procurando?</h1>
    </div>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Digite aqui..." />
    <datalist id="datalistOptions">
      <option value="Cachorro"></option>
      <option value="Gato"></option>
      <option value="Alimentação"></option>
      <option value="Cuidados"></option>
      <option value="Curiosidades"></option>
    </datalist>
  </div>

  -->

  <div class="container">
    <div class="mt-5 mb-5">
      <h1>Informações</h1>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #153ec3;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Importância da Adoção</h5>
            <p class="card-text">
              A decisão de adotar um animal de estimação vai muito além de simplesmente trazer um novo membro para a família...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #245098;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Responsabilidade Necessária</h5>
            <p class="card-text">
              Ao decidir adotar um animal, é fundamental compreender a importância da responsabilidade que vem junto com essa decisão...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #4266b0;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Ajudando Animais de Rua</h5>
            <p class="card-text">
              A presença de animais de rua é um problema comum em muitas cidades do mundo. Cães e gatos, principalmente, são encontrados...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #5f7bc9;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Centros de Ajuda</h5>
            <p class="card-text">
              Os centros de ajuda de animais desempenham um papel crucial na sociedade, oferecendo suporte, cuidados e proteção para os animais...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mt-5 mb-5">
      <h1>Conteúdos</h1>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #46a3f1;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">O Que É Considerados Pet?</h5>
            <p class="card-text">
              Um animal é doméstico quando vive em situação de domesticação, ou seja, um bicho que serve de propósito para o trabalho...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #46a3f1;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Curiosidades Sobre Pets</h5>
            <p class="card-text">
              O mundo animal é repleto de características impressionantes, afinal, são quase 8 milhões de espécies existentes. Dessa maneira...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #3592de;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Pelagem Tricolor</h5>
            <p class="card-text">
              As pelagens tricolores em gatos fêmeas são um fenômeno interessante e peculiar. Essa coloração é comumente conhecida...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #2381cb;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Dicas de Cuidados</h5>
            <p class="card-text">
              É tutor de primeira viagem? Confira algumas dicas valiosas para que se possa cuidar bem do seu novo animal de estimação...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mt-5 mb-5">
      <h1>Notícias</h1>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-12 col-md-6 col-lg-3 mb-5">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #005fa5;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Importância da Adoção</h5>
            <p class="card-text">
              A adoção é um ato de amor e solidariedade que pode mudar a vida de um animal para sempre. Muitos animais abandonados...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #1270b8;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Responsabilidade Necessária</h5>
            <p class="card-text">
              Ao decidir adotar um animal, é fundamental compreender a importância da responsabilidade que vem junto com essa decisão...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #526cfd;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Ajudando Animais de Rua</h5>
            <p class="card-text">
              A presença de animais de rua é um problema comum em muitas cidades do mundo. Cães e gatos, principalmente, são encontrados...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5">
        <div class="card">
          <div style="width: auto;height: 50px; background-color: #3e5dea;" class="card-img-top" alt="Importância da Adoção"></div>
          <div class="card-body">
            <h5 class="card-title">Centros de Ajuda</h5>
            <p class="card-text">
              Os centros de ajuda de animais desempenham um papel crucial na sociedade, oferecendo suporte, cuidados e proteção para os animais...
            </p>
            <a href="/post" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('layouts/default/Footer') %>