</section>
<nav class="navbar navbar-expand-lg mt-5" style="background-color: #260D33;">
  <div class="container-fluid">
      <img style="width: 25vh; margin-left: 5vw;" src="/img/logofooter.png" />
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 25vw">
          <ul id="footer" class="navbar-nav">
              <li class="nav-item"><a class="nav-link active text-light" aria-current="page" href="/" style="color: #000;">Topo</a></li>
              <li class="nav-item"><a class="nav-link active text-light" aria-current="page" href="/pets" style="color: #000;">Adotar</a></li>
              <li class="nav-item"><a class="nav-link text-light" href="/" style="color: #000;">Início</a></li>
          </ul>
      </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>